body {
  font-family: source-sans-pro, sans-serif;
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: source-sans-pro, sans-serif;
  font-weight: bold;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loginPage {
  background-color: #000;
  background-image: url(./assets/images/loginBackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 1200px;
  color: #333;
  position: absolute;
  z-index: 9999;
}

.loginBox {
  width: 420px;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  float: left;
  text-align: left;
  position: absolute;
  top: 30%;
  left: 10%;
  border: solid 5px #ffea00;
  border-radius: 5px;
  padding: 50px;
  font-family: "chaparral-pro";
  font-weight: 400;
  font-style: normal;
  box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ffea00,
    0 0 70px #ffea00, 0 0 80px #ffea00, 0 0 100px #ffea00, 0 0 150px #ffea00;
}

.loginBox .logo {
  width: 201px;
  height: 91px;
  /*background-image: url(./assets/images/logo.png);*/
  background-size: 100%;
  margin-bottom: 0px;
  font-family: "chaparral-pro";
  font-weight: bold;
  font-size: 50px;
}

.inputName {
  padding: 15px;
  font-size: 25px;
  font-family: "chaparral-pro";
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  background: transparent;
  border: solid 1px #333;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 15px;
}

.hide {
  display: none;
}

.existingPlayers {
  font-size: 14px;
}

.existingPlayer {
  margin-right: 10px;
  margin-bottom: 15px;
}

.existingPlayerReset {
  margin-top: 15px;
  float: left;
  padding: 5px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.existingPlayerReset:hover {
  cursor: pointer;
  color: #ffea00;
}

.startGameButton {
  border: solid 1px #ccc;
  width: 150px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}

.startGameButton:hover {
  cursor: pointer;
  color: #ffea00;
  border-color: #ffea00;
}

.endGameButton {
  float: left;
  border: solid 1px #ccc;
  width: 100px;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  color: #ccc;
  margin-top: 8px;
  margin-left: 10px;
}

.endGameButton:hover {
  cursor: pointer;
  color: red;
  border-color: red;
}

.submitButton {
  width: 115px;
  margin-top: 50px;
}

.submitButtonButton {
  background: none;
  color: #fff;
  font-family: "chaparral-pro";
  font-weight: 400;
  font-size: 20px;
  padding: 5px 10px 5px 10px;
}

.submitButtonButton:hover {
  border: solid 3px #ffea00;
  color: #ffea00;
  cursor: pointer;
}

.rocketSelection {
  width: 100%;
  float: left;
}

.rocketSelection input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  background-color: none;
  color: #666;
  height: 50px;
  width: 50px;
  border: solid 1px #333;
  padding: 5px;
  border-radius: 50px;
  cursor: pointer;
  margin-right: 7px;
  outline: none;
  float: left;
}

.rocketSelection .Red input[type="radio"] {
  content: url(./assets/images/rocket-red.png);
}

.rocketSelection .Red input[type="radio"]:checked {
  content: url(./assets/images/rocket-red.png);
  border: solid 3px #fff;
}

.rocketSelection .Green input[type="radio"] {
  content: url(./assets/images/rocket-green.png);
}

.rocketSelection .Green input[type="radio"]:checked {
  content: url(./assets/images/rocket-green.png);
  border: solid 3px #fff;
}

.rocketSelection .Blue input[type="radio"] {
  content: url(./assets/images/rocket-blue.png);
}

.rocketSelection .Blue input[type="radio"]:checked {
  content: url(./assets/images/rocket-blue.png);
  border: solid 3px #fff;
}

.rocketSelection .Yellow input[type="radio"] {
  content: url(./assets/images/rocket-yellow.png);
}

.rocketSelection .Yellow input[type="radio"]:checked {
  content: url(./assets/images/rocket-yellow.png);
  border: solid 3px #fff;
}

.rocketSelection .White input[type="radio"] {
  content: url(./assets/images/rocket-white.png);
}

.rocketSelection .White input[type="radio"]:checked {
  content: url(./assets/images/rocket-white.png);
  border: solid 3px #fff;
}

.mainMapImage {
  width: 3023px;
  height: 1956px;
  display: flex;
}

.mainMap {
  position: relative;
  width: 3023px;
  height: 1956px;
}

.cityContainer {
  position: absolute;
  background-image: url("./assets/images/cityIcon.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 150px;
  height: 150px;
  z-index: 20;
}

.cityContainer:hover {
  box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff;
  border-radius: 100px;
  cursor: pointer;
}

.disabled:hover {
  box-shadow: none;
  cursor: default;
  border-radius: 0px;
}

.citySelected {
  box-shadow: 0 0 10px #f3d248, 0 0 20px #f3d248, 0 0 30px #f3d248;
  border-radius: 100px;
}

.citySelected:hover {
  box-shadow: 0 0 10px #f3d248, 0 0 20px #f3d248, 0 0 30px #f3d248;
}

.cityName {
  font-size: 25px;
  margin-top: 115px;
  font-family: "chaparral-pro";
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  background-color: #333;
  padding: 5px;
  border-radius: 5px;
}

.connections {
  position: absolute;
  z-index: 5;
}

.connectionPipesContainer {
  position: relative;
  width: 3023px;
  height: 1956px;
}

.connectionPipe {
  height: 20px;
  background-image: url("./assets/images/copperPipe.jpg");
  background-repeat: repeat-x;
  background-size: contain;
  position: absolute;
  transform-origin: top left;
  margin-top: 70px;
  margin-left: 80px;
}

.connectionCost {
  background-color: #fff;
  color: #333;
  font-family: source-sans-pro, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  margin-top: 55px;
  margin-left: 42px;
  z-index: 100;
  padding: 10px;
  border-radius: 50%;
  width: 60px;
  border: solid 5px #333;
  text-align: center;
}

.topBar {
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 1);
  position: fixed;
  top: 0;
  z-index: 999;
}

.resourcesContainer {
  width: 100%;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 50px;
  z-index: 999;
}

.userContainer {
  width: 100%;
  height: 250px;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  bottom: 0;
  z-index: 999;
}

.marketContainer {
  position: fixed;
  right: 0;
  top: 200px;
  z-index: 999;
}

.playersContainer {
  width: 400px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  left: 0;
  top: 200px;
  z-index: 999;
}

.containerTitle {
  color: #fff;
  font-family: source-sans-pro, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  padding: 10px 10px;
}

.ppContainer {
  border: solid 1px #333;
  border-radius: 10px;
  padding: 10px;
  width: 180px;
}

.ppContainer .card {
  border: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.ppContainer .card-body {
  padding: 0;
}

.ppTypeOil {
  background-color: #333333;
}

.ppTypeOilCard {
  background-image: url("./assets/images/ppOil.png");
}

.ppTypeCoal {
  background-color: #643d00;
}

.ppTypeCoalCard {
  background-image: url("./assets/images/ppCoal.png");
}

.ppTypeHybrid {
  background: linear-gradient(to bottom, #333333 50%, #643d00 50%);
}

.ppTypeHybridCard {
  background-image: url("./assets/images/ppHybrid.png");
}

.ppTypeUranium {
  background-color: #9f061b;
}

.ppTypeUraniumCard {
  background-image: url("./assets/images/ppUranium.png");
}

.ppTypeGarbage {
  background-color: #f3d248;
}

.ppTypeGarbageCard {
  background-image: url("./assets/images/ppGarbage.png");
}

.ppTypeEcological {
  background-color: #14ac00;
}

.ppTypeEcologicalCard {
  background-image: url("./assets/images/ppEcological.png");
}

.ppCard {
  border-radius: 5px;
}

.ppCard .cost {
  position: absolute;
  font-size: 50px;
  font-weight: bolder;
  text-transform: uppercase;
  top: -10px;
  left: -5px;
  text-shadow: -3px -3px 0 #fff, 0 -3px 0 #fff, 3px -3px 0 #fff, 3px 0 0 #fff,
    3px 3px 0 #fff, 0 3px 0 #fff, -3px 3px 0 #fff, -3px 0 0 #fff;
}

.ppCard .bottomBar {
  margin-top: 100px;
  height: 50px;
  position: aboslute;
  bottom: 0;
  padding-top: 10px;
}

.ppCard .bottomBar .col-6 {
  padding-left: 15px;
  padding-right: 0;
}

.ppCard .bottomBar .inputContainer {
  margin-top: 3px;
}

.ppCard .bottomBar .inputContainer .input {
  width: 20px;
  height: 35px;
  float: right;
  margin-right: 3px;
  background-size: cover;
}

.ppCard .bottomBar .inputContainer .ppTypeOilInput {
  background-image: url("./assets/images/resOil.png");
}

.ppCard .bottomBar .inputContainer .ppTypeCoalInput {
  background-image: url("./assets/images/resCoal.png");
}

.ppCard .bottomBar .inputContainer .ppTypeHybridInput {
  background-image: url("./assets/images/resHybrid.png");
}

.ppCard .bottomBar .inputContainer .ppTypeGarbageInput {
  background-image: url("./assets/images/resGarbage.png");
}

.ppCard .bottomBar .inputContainer .ppTypeUraniumInput {
  background-image: url("./assets/images/resUranium.png");
}

.ppCard .bottomBar .inputContainer.ppPowers {
  width: 14px;
  height: 25px;
  float: left;
  background-size: cover;
  margin-top: 10px;
  margin-left: -5px;
  background-image: url("./assets/images/ppPowers.png");
}

.ppCard .bottomBar .output {
  width: 45px;
  height: 45px;
  float: left;
  background-size: cover;
  margin-top: 0px;
  margin-left: -30px;
  background-image: url("./assets/images/ppHouse.png");
  font-size: 30px;
  font-weight: bolder;
  text-shadow: -1px -1px 0 #fff, 0 -1px 0 #fff, 1px -1px 0 #fff, 1px 0 0 #fff,
    1px 1px 0 #fff, 0 1px 0 #fff, -1px 1px 0 #fff, -1px 0 0 #fff;
}

.currentPlayer {
  color: #fff;
  margin-top: 12px;
  float: right;
  margin-right: 20px;
}

.bidComponent {
  width: 150px;
  margin: 10px auto;
}

.bidComponent .row,
.bidComponent .col {
  padding: 0px;
  margin: 0px;
}

.bidInput {
  font-size: 25px;
  border: solid 1px #eee;
  border-radius: 5px;
  padding: 2px 8px;
  margin-right: 5px;
  margin-top: 5px;
  color: #fff;
  background-color: #14ac00;
}

.bidInput:hover {
  cursor: pointer;
  background-color: #055005;
}

.bidButton {
  width: 100%;
  font-size: 12px;
  border: solid 1px #ccc;
  border-radius: 5px;
  padding: 2px 8px;
  margin-bottom: 5px;
}

.bidDisabled {
  width: 100%;
  font-size: 12px;
  border: solid 1px #ccc;
  border-radius: 5px;
  padding: 2px 8px;
  margin-bottom: 5px;
  opacity: 0.2;
}

.bidButton:hover {
  cursor: pointer;
  background-color: #055005;
  color: #fff;
}

.ownedPlantsRow {
  margin-left: 5px;
}
